* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
    width: 100vw;
    height: 100vh;
}

.display-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.height-70-percent {
    height: 70%;
}

.options-cont {
    width: 10vw;
    height: 10vw;
    max-height: 3.5rem;
    max-width: 3.5rem;
    background-color: #f1f2f6;
    top: 2rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 2rem;
}

img {
    display: block;
    height: 100%;
    object-fit: contain;
}

.tools-cont > *, .download {
    display: block;
    max-width: 4rem;
    width: 10vw;
}

.tools-cont {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    width: 60vw;
    max-width: 30rem;
    background-color: #f1f2f6;
    top: 2rem;
    left: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .tools-cont {
        left: 35vw;
    }
}

.download-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.pencil-tool-cont {
    height: 5rem;
    width: 10vw;
    max-width: 6rem;
    background-color: lightgreen;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
}

.pencil-width-cont {
    background-color: orange;
    height: 2rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input {
    width: 80%;
    /* max-width: 10rem; */
}

.pencil-color-cont {
    background-color: wheat;
    height: calc(100% - 2rem); /* height of pencil-width-cont */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0 0.4rem;
    width: fit-content;
}

.pencil-color {
    width: 1rem;
    align-items: center;
    justify-content: center;
}

.pencil-color-tile {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.eraser-tool-cont {
    height: 2rem;
    width: 6rem;
    background-color: lightblue;
    display: none;
    justify-content: center;
    align-items: center;
}

.eraser-tool-cont input {
    width: 80%;
}

.scale-tools {
    animation-name: scale-tools;
    animation-duration: 1s;
}

@keyframes scale-tools {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }

}

.sticky-cont {
    width: 15rem;
    height: 15rem;
}

.header-cont {
    height: 2rem;
    width: 100%;
    background-color: #f1f2f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-cont > * {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    border-radius: 50%;
}
.note-cont {
    height: calc(100% - 2rem);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.minimize {
    background-color: green;
}
.remove {
    background-color: red;
}
.note-cont > textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100%;
    width: 100%;
}

canvas {
    background-color: #fff;
    margin-top: 6rem;
    border: 2px #000000 solid;
    image-rendering: pixelated;
}

header, main {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0.2rem;
}